<h1>SIGN UP FORM</h1>

<form action="/register" method="POST">
    <input name="username" type="text" placeholder="username"><br/>
    <input name="password" type="password" placeholder="password">
    <button>Submit</button>
</form>

<li>
    <a href="/register">Sign Up</a>
</li>
<li>
    <a href="/login">Log In</a>
</li>
<li>
    <a href="/logout">Log Out</a>
</li>
